*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: helvetica;
}
html,body{
width: 100%;
height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h2{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav button{
    padding: 8px 10px ;
    border: 1px solid black;
    border-radius: 50px;
}
#btn1{
    background-color: white;
}
#btn2{
    background-color: orangered;
}
h3{
    font-size: 120px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 30px;
    position: absolute;
     top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);

}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
    
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
transform: translate(-50%,-50%) rotate(-10deg);
}
#btm-left{
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    bottom: 5%;
    left: 5%;
}